<?xml version="1.0" encoding="utf-8"?>
<GameSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <playerName>User01</playerName>
  <fullScreen>true</fullScreen>
  <screenWidth>1920</screenWidth>
  <screenHeight>1080</screenHeight>
  <backgroundMusicLevel>0</backgroundMusicLevel>
  <prevBackgroundMusicLevel>0.2</prevBackgroundMusicLevel>
  <soundeffectsLevel>0.2</soundeffectsLevel>
  <prevSoundeffectsLevel>0.2</prevSoundeffectsLevel>
  <DEBUG>false</DEBUG>
  <godMode>false</godMode>
  <showHitbox>true</showHitbox>
  <showMouse>true</showMouse>
  <playerDebug>true</playerDebug>
  <attackHitbox>true</attackHitbox>
</GameSettings>