<?xml version="1.0" encoding="utf-8"?>
<GameSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <playerName>User01</playerName>
  <fullScreen>true</fullScreen>
  <screenWidth>1920</screenWidth>
  <screenHeight>1080</screenHeight>
  <backgroundMusicLevel>0</backgroundMusicLevel>
  <prevBackgroundMusicLevel>0.20000002</prevBackgroundMusicLevel>
  <soundeffectsLevel>0</soundeffectsLevel>
  <prevSoundeffectsLevel>0.10000002</prevSoundeffectsLevel>
  <DEBUG>false</DEBUG>
  <godMode>false</godMode>
  <showHitbox>false</showHitbox>
  <showMouse>false</showMouse>
  <playerDebug>false</playerDebug>
  <attackHitbox>true</attackHitbox>
  <noclip>false</noclip>
</GameSettings>